{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-xs-12">
            <button type="button"
                    class="btn btn-primary btn-lg btn-block">
                Server Time<br>
                {{ "now"|date("H:i") }}
            </button>
        </div>
        {% for entity in entities %}
        <div class="col-xs-12">
            <button type="button"
                    class="btn {% if not entity.getLastError %}btn-success{% else %}btn-danger{% endif %} btn-lg btn-block">
                {{ entity.getname }}<br>
                {% if entity.getLastError %} Last Success: {{ entity.getLastSuccess|date('H:i') }} Uhr{% endif %}
            </button>
        </div>
        {% endfor %}
    </div>

{% endblock %}
