body {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    background-color: #e1e1e1;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.row {
    margin-top: 10px;
}

.btn-lg {
    height: 30vh;
    margin-bottom: 5px;
}

.btn-top {
    height: 20vh;
    margin-bottom: 2px;
}

@media(max-width:767px){
    .btn-top {
        height: 10%;
    }
    .btn-lg {
        height: 15%;
        margin-bottom: 5px;
    }
}

.ping, .block {
    border-radius: 5px;
    padding: 15px;
    margin: 5px;
}

.success {
    background-color: #83b83b;
    color: #ffffff;
    border: solid #ffffff;
}

.danger {
    background-color: #eb332d;
    color: #000000;
    border: solid #000000;
}

.free {
    background-color: #b9b8b1;
    color: #ffffff;
    border: solid #ffffff;
}

.blocked {
    background-color: #0071b9;
    color: #ffffff;
    border: solid #ffffff;
}

.btn-blue {
    background-color: #0071b9;
    border: 2px solid #ffffff;
}

.btn-grey {
    background-color: #b9b8b1;
    border: 2px solid #ffffff;
}

.gl-block {
    margin-top: 10px;
    font-size: 2em;
}
.gl-ping {
    font-size: 5em;
}

.gl-small {
    font-size: 0.8em;
}

.modal-title, .modal-body {
    color: #000000;
}

small {
    color: #3d3d3d;
}

footer {
    min-height: 120px;
}

#soundSpan {
    margin-left: 15px;
    margin-top: 14px;
}